body{
    background-color: #1c001a
}

h1{
    margin: auto;
    text-align: center;
    color: #efd6ff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    text-shadow: 0 0 10px #f1b4ff;
    padding-top: 30px;
    padding-bottom: 80px;
}

.notes{
    margin: auto;
    width: 60%;
    padding-left: 10%;
    position: relative;
}

.black{
    vertical-align: center;
    position: absolute;
}


.black button {
    background-color: #151515;/* button background */
    border: 2px solid #000000; /* button border */
    padding: 110px 24px;  /* sizing button */
    margin: 0px 9px;
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 6px;
    z-index: 2;
}

.Cs1{
    margin-left: 44.5px !important;
}

.Fs1{
    margin-left: 79px !important;
}

.Cs2{
    margin-left: 79px !important;
}

.Fs2{
    margin-left: 79px !important;
}

.white button {
    background-color: #ffffff; /* button background */
    border: 2px solid #aaaaaa; /* button border */
    padding: 210px 34px; /* sizing button */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 6px;
    z-index: 2;
}

.white button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}


/* Add a background color on hover */
.white button:hover {
    background-color: #eaeaea;
    z-index: auto;
}

/* Add a background color on hover */
.white button:active {
    background-color: #c9c9c9;
}

.black button:hover {
    background-color: #262626;
}

.black button:active {
    background-color: #363636;
    border: 2px solid #313131; /* button border */
}